/* style.css */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    text-align: center;
    background: #287391;
    color: #fff;
}
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
  }
  
  .input-box,
  .output-box {
    width: 50%;
  }
  
  .input-box {
    order: 1;
  }
  
  .output-box {
    order: 2;
  }
  
  .box {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  textarea {
    font-size: larger;
    color: #fff;
    width: calc(100% - 20px);
    height: 600px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #000;
  }
  
  #outputContent {
    width: calc(100% - 20px);
    box-sizing: border-box;
    margin-top: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    height: 600px;
    background-color: #000;
    color: white;
}

footer {
    background-color: #333333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top:  2px solid #686767;
    border-bottom:  2px solid #686767;
}
